<!--app/views/static_pagesの共通部分を書くことができる。-->
<!DOCTYPE html>
<html>
  <head>
    <!--application_helper.rbのモジュールを引数にtitleを渡して呼び出す。-->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <!--それぞれスタイルシート、JavaScript、csrf_meta_tagsメソッドをページ内で展開するためのものです。-->


  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %> <!--app/views/static_pagesの共通部分がここに入る。-->
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <!--  サイトのレイアウトにデバッグ情報を追加しているが、本番展開した場合には表示しない。 -- >
    </div>
  </body>
</html>
